In [52]:
import pandas as pd
import seaborn as sns
print('Bibliotecas carregadas com sucesso')

Bibliotecas carregadas com sucesso

In [53]:
df = pd.read_csv('top_1000_imdb_movies.csv')

In [54]:
df.head()

,Unnamed: 0,Movie Name,Year of Release,Watch Time,Movie Rating,Description
0,0,The Shawshank Redemption,1994,142,9.3,"Over the course of several years, two convicts..."
1,1,The Godfather,1972,175,9.2,"Don Vito Corleone, head of a mafia family, dec..."
2,2,The Dark Knight,2008,152,9.0,When the menace known as the Joker wreaks havo...
3,3,Schindler's List,1993,195,9.0,"In German-occupied Poland during World War II,..."
4,4,12 Angry Men,1957,96,9.0,The jury in a New York City murder trial is fr...

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1000 non-null   int64
 1   Movie Name       1000 non-null   object
 2   Year of Release  1000 non-null   object
 3   Watch Time       1000 non-null   int64
 4   Movie Rating     1000 non-null   float64
 5   Description      1000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 47.0+ KB

In [56]:
df_2 = df.copy()

In [57]:
df_2 = df_2.drop('Unnamed: 0', axis = 1)

In [58]:
df_2.columns = df_2.columns.str.replace(' ', '_')
df_2.columns = df_2.columns.str.lower()

In [62]:
df_2[df_2['movie_name'].duplicated()]

,movie_name,year_of_release,watch_time,movie_rating,description
179,Drishyam 2,2022,140,8.2,A gripping tale of an investigation and a fami...
189,Drishyam,2015,163,8.2,Desperate measures are taken by a man who trie...
905,Scarface,1932,93,7.7,An ambitious and nearly insane violent gangste...

In [60]:
df_2[df_2['movie_name'] == 'Drishyam 2']

,movie_name,year_of_release,watch_time,movie_rating,description
90,Drishyam 2,2021,152,8.4,A gripping tale of an investigation and a fami...
179,Drishyam 2,2022,140,8.2,A gripping tale of an investigation and a fami...

In [63]:
df_2[df_2['movie_name'] == 'Drishyam']

,movie_name,year_of_release,watch_time,movie_rating,description
139,Drishyam,2013,160,8.3,A man goes to extreme lengths to save his fami...
189,Drishyam,2015,163,8.2,Desperate measures are taken by a man who trie...

In [64]:
df_2[df_2['movie_name'] == 'Scarface']

,movie_name,year_of_release,watch_time,movie_rating,description
102,Scarface,1983,170,8.3,"In 1980 Miami, a determined Cuban immigrant ta..."
905,Scarface,1932,93,7.7,An ambitious and nearly insane violent gangste...

ModuleNotFoundError: No module named 'openpyxl'